# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/src/components/OldNav.js
# misc
.DS_Store
.env
.env*.local
/pages/not_used
/experimental

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#prettier
.prettierrc.json

#next
.next

/out
