@import '../utils/_variables.scss';

body {
  background-color: $my-forest;
  *:focus {
    outline: 1px solid $my-mustard;
  }
}

.my-hr {
  border-top: none;
  border-bottom: 1px solid $my-forest;
  width: 8rem;
  border-radius: 50px;
  margin: auto;
}
.my-text, .my-text-sage {
  color: $my-sage;
}
.my-text-forest {
  color: $my-forest;
}
.my-text-mustard {
  color: $my-mustard;
}

.my-placeholder-mustard::placeholder {
  color: $my-mustard;
}

.my-text-hover:hover {
  color: $my-mustard;
}
.my-transition {
  transition: 0.3s;
}


.my-background {
  background-color: $my-mustard;
}
.my-btn {
  background-color: $color-4;
  color: $my-forest;
  transition: 0.7s;
  &:hover {
    background-color: $my-forest;
    color: $my-sage;
    cursor: pointer;
  }
  
}

.my-nav-btn {
  color: $my-sage;
  transition: 0.3s;
  &:hover {
    color: $my-forest;
    background-color: $my-mustard;
  }
}
.my-mustard-hover {
  transition: 0.3s;
  &:hover {
    color: $my-forest;
    background-color: $my-mustard;
  }
}
.my-nav-btn-active {
  color: $my-forest;
  background-color: $my-mustard;
  transition: 0.3s;
}


.my-background-hover:hover {
  background-color: $my-mustard;
}

.my-forest-bg {
  background-color: $my-forest;
}
.my-forest-bg-hover:hover {
  background-color: rgba(140, 247, 40, 0.322);
}
.my-sage-bg {
  background-color: $my-sage;
}
.my-mustard-bg {
  background-color: $my-mustard;
}

.border-sage {
  border-color: $my-sage;
}
.border-mustard {
  border-color: $my-mustard;
}
.border-forest {
  border-color: $my-forest;
}

section {
  h1.my-title, h2.my-title, h3.my-title {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
  }
}

.my-logo {
  position: absolute;
  z-index: 1000;
  top:0.1rem;
  left:0.1rem;
  height: 4rem;
  width: 4rem;
  background-color: $color-1;
  border-radius: 0.2rem;
}