@import '../../utils/_variables.scss';

.tableOfContents {
	transition: inherit;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centers items horizontally */
	align-items: center; /* Centers items vertically */
	left: 0;
	gap: 0.1rem;
	margin: 0 auto;
	padding: 0.5rem;

	cursor: pointer;
	font-size: var(--font-size-toc);

	@media only screen and (max-width: $sm-max) {
		font-size: var(--font-size-toc-sm);
	}
	li {
		transition: inherit;
		list-style: none;
		list-style-position: inside;
		background-color: var(--color-4);
		font-family: var(--style-font-1);
		width: 100%;
		text-align: center;
		margin: 0.5rem auto;
		padding: 1rem 0.7rem;
		border-radius: var(--radius);
		@media only screen and (max-width: $md-max) {
			padding: 0.2rem;
		}
	}
}
