$my-sage: white;//#CBD18F;
$my-forest: #557752;//#3A6B35;
$my-mustard: #CBD18F;//#E3B448;
$color-1: $my-forest;
$color-2: $my-sage;
$color-3: $my-mustard;
$color-4: rgba(40, 71, 11, 0.322);


$md-max: 900px;