@import '../utils/_variables.scss';

.about {
    color: var(--color-2);
    height: var(--main-height);
    overflow: hidden;

    p {
        margin: 1rem auto;
    }

    @media screen and (max-width: $md-max) {
        height: var(--main-height);
        font-size: 0.8rem;
    }

    @media only screen and (max-width:$sm-max) {
        font-size: 0.6rem;
    }



}