@import '../utils/_variables.scss';

.about {
    color: var(--color-1);
    height: var(--main-height);
    padding: 1rem;
    overflow: hidden;
    p {
      margin: 1rem auto;
    }
    @media screen and (max-width: $md-max) {
      height: var(--main-height);
      padding-top: 6rem;
      font-size: 0.8rem;
    }
    @media screen and (min-width: $md-max) {
        padding-top: 6rem;
      }
  
  }
