.blogs {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	ul {
		display: inherit;
		flex-direction: inherit;
		gap: inherit;
		width: 60vw;
		margin: 0 auto;
		.title {
			font-size: 1.2rem;
		}
		p {
			span {
				font-weight: 800;
			}
		}
	}
}
.blogBody,
.considerations {
	width: 65vw;
	margin: 0 auto;
}
.blogBody {
	margin-top: 15vh;
}
.blogParagraph {
	margin-top: 1rem;
}
.considerations {
	margin-top: 2rem;
	margin-bottom: 5vh;
	ul {
		list-style-type: '- ';
		li {
			margin-top: 0.4rem;
		}
	}
}
