.blogs {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	min-height: 100vh;

	ul {
		display: inherit;
		flex-direction: inherit;
		gap: inherit;
		width: 60vw;
		margin: 0 auto;
		.title {
			font-size: 1.6rem;
			font-weight: 400;
			text-transform: uppercase;
			font-family: var(--style-font-1);
			&:hover {
				color: rgb(100, 100, 100);
			}
			transition: 0.4s;
			@media screen and (max-width: var(--sm-max)) {
				font-size: 1.2rem;
			}
		}
		p {
			font-family: var(--style-font-2);
			span {
				font-weight: 800;
			}
		}
	}
}
.blogBody,
.considerations {
	width: 65vw;
	margin: 0 auto;
	font-size: 1.2rem;
	@media screen and (max-width: 800px) {
		font-size: 0.9rem;

		width: 70vw;
	}
}
.blogBody {
	margin-top: 15vh;
}
.blogParagraph {
	margin-top: 1rem;
	a {
		font-weight: 600;
		transition: 0.4s;
		&:hover {
			text-decoration: underline;
		}
	}
}
.considerations {
	margin-top: 2rem;
	margin-bottom: 5vh;
}

.myList {
	list-style-type: '- ';
	li {
		margin: 0 auto;
		margin-top: 0.6rem;
		width: 63vw;
		@media screen and (max-width: var(--md-max)) {
			width: 80vw;
		}
	}
}
.centered {
	text-align: center;
}
.byLineContainer {
	margin: 0.4rem auto;
}

.blogParagraph,
.considerations,
.myList {
	font-family: var(--style-font-2);
	pre {
		padding: 10px;
		border-radius: 5px;
		border: 1px solid var(--color-2);
		font-family: monospace;
	}
}

.closing,
.ending {
	margin-bottom: 1.6rem;
}
.leaders {
	display: flex;
	gap: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 4vh;
	a:hover {
		cursor: pointer;
		transition: 0.4s;
		opacity: 0.7;
	}
}
.quote {
	opacity: 0.7;
	width: 95%;
	margin: 0.2rem auto;
}
