@import '../utils/variables';

.contact {
	min-height: var(--main-height);
	padding-bottom: 2rem;
	background-color: var(--color-1);
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 0.25rem;
	color: var(--color-2);
	font-family: var(--style-font-1);

	&:nth-child(1) {
		margin: 0 1rem 0 0;
	}

	@media screen and (max-width: $md-max) {
		font-size: 0.7rem;
	}

	@media only screen and (max-width: $sm-max) {
		font-size: 0.6rem;
		margin: 0 0.25rem;
	}

	@media only screen and (max-width: $md-max) {
		&:nth-child(1) {
			display: block;
			margin: 0 0.25rem;
		}

		&:nth-child(2) {
			display: block;
			margin: 0 0.25rem;
		}
	}
}

.inputClass {
	width: 100%;
	background-color: var(--color-1);
	color: var(--color-2);
	border-bottom: 1px solid var(--color-2);
	border-radius: 0.2rem;
	padding: 0.5rem;
	margin-bottom: 0.6rem;
}

.contactTitle {
	color: var(--color-2);
	text-transform: uppercase;
	display: block;
	letter-spacing: 0.025rem;
	margin-bottom: 2rem;
	font-size: 0.9rem;
	line-height: 1rem;
}

.or {
	color: var(--color-4);
	margin: 10vh auto;
}
