@import '../utils/_variables.scss';

.footer {
    background-color: var(--color-2);
    opacity: 90%;
    color: var(--color-3);
    padding: 1rem;
    text-align: center;
    height: var(--footer-height);
}