@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../utils/_variables.scss';

* {
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  background-color: $color-1;
  *:focus {
    outline: 1px solid $color-3;
  }
}


.my-dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.15rem;
}
.my-fade-in {
  transition: 0.4s;
  &:hover {
    opacity: 65%;
  }
}

.my-hr {
  border-top: none;
  border-bottom: 1px solid $color-1;
  width: 8rem;
  border-radius: 50px;
  margin: auto;
}
.my-text, .my-text-sage {
  color: $color-1;
}
.my-text-forest {
  color: $color-3;
}
.my-text-mustard {
  color: $color-2;
}
.my-text-hover:hover {
  color: $color-1;
}
.my-text-forest-hover:hover {
  color: $color-3;
}
.my-placeholder-mustard::placeholder {
  color: $color-3;
}
.my-placeholder-dark::placeholder {
  color: $color-1;
}
.my-transition {
  transition: 0.3s;
}
.vpheight {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 4rem;
  @media only screen and (min-width:$md-max) {
   height: 50vh;
   scroll-snap-align: none;
   padding-top: auto;
 }
 }

.lander {
  font-size: 3rem;
  padding-top: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  @media only screen and (max-width:$sm-max) {
    font-size: 2rem;
  }
  p {
    &:nth-child(2) {
      margin-top: 1rem;
    }
  }
}
.disappear-md {
  @media only screen and (max-width: $md-max)  {
    display: none;
  }
}
.my-background {
  background-color: $color-3;
}
.my-col-span-3 {
  grid-column: span 1 / span 1;
  @media only screen and (max-width: $md-max) {
    grid-column: span 3 / span 3;
  }
}
.my-btn, .my-contact-btn, .my-nav-btn {
  transition: 0.7s;
  cursor: pointer;
}
.my-btn {
  //background-color: $color-1;
  color: $color-1;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid $color-3;

  &:hover {
    //background-color: $color-4;
    color: $color-3;
  }
}
.main-image {
  display: none;
  @media only screen and (min-width: $md-max) {
    display: block;
  }
}
.mobile-image {
  display: none;
  @media only screen and (max-width: $md-max) {
    display: block;
  }
}

.my-contact-btn {
  background-color: $color-2;
  color: $color-1;
  &:hover {
    background-color: $color-3;
    color: $color-1;
  }
}


.my-nav-btn {
  color: $color-2;
  &:hover {
    color: $color-1;
    background-color: $color-3;
  }
}
.my-nav-btn-active {
  color: $color-1;
  background-color: $color-3;
  transition: 0.3s;
}


.my-bg-mustard-hover, .my-bg-forest-hover, .my-bg-hover, .my-text-forest-hover {
  transition: 0.4s;
}
.my-bg-mustard-hover:hover {
  background-color: $color-3;
}
.my-bg-hover:hover {
  background-color: $color-3;
}
.my-bg-forest-hover:hover {
  background-color: rgba(140, 247, 40, 0.322);
}


.my-bg-forest {
  background-color: $color-1;
}
.my-bg-sage {
  background-color: $color-2;
}
.my-bg-mustard {
  background-color: $color-3;
}


.border-sage {
  border-color: $color-2;
}
.border-mustard {
  border-color: $color-3;
}
.border-forest {
  border-color: $color-1;
}


h1.my-title, h2.my-title, h3.my-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
}
h1.my-title {
  font-size: 1.2rem;
}

.top-10 {
  margin-top: 10%;
}
.my-logo {
  position: fixed;
  z-index: 10;
  top:0.1rem;
  left:0.1rem;
  height: 4rem;
  width: 4rem;
  background-color: $color-1;
  border-radius: 0.2rem;
  @media only screen and (max-width:$md-max) {
    display: none;
  }
}