@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../utils/_variables.scss';

* {
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $my-forest;
  *:focus {
    outline: 1px solid $my-mustard;
  }
}


.my-dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.15rem;
}
.my-fade-in {
  transition: 0.4s;
  &:hover {
    opacity: 65%;
  }
}

.my-hr {
  border-top: none;
  border-bottom: 1px solid $my-forest;
  width: 8rem;
  border-radius: 50px;
  margin: auto;
}
.my-text, .my-text-sage {
  color: $my-sage;
}
.my-text-forest {
  color: $my-forest;
}
.my-text-mustard {
  color: $my-mustard;
}

.my-placeholder-mustard::placeholder {
  color: $my-mustard;
}

.my-text-hover:hover {
  color: $my-mustard;
}
.my-text-forest-hover:hover {
  color: $my-forest;
}
.my-transition {
  transition: 0.3s;
}


.my-background {
  background-color: $my-mustard;
}
.my-btn, .my-contact-btn, .my-nav-btn {
  transition: 0.7s;
  cursor: pointer;
}
.my-btn {
  background-color: $color-4;
  color: $my-forest;
  &:hover {
    background-color: $my-forest;
    color: $my-sage;
  }
}

.my-contact-btn {
  background-color: $my-sage;
  color: $my-forest;
  &:hover {
    background-color: $color-4;
    color: $my-sage;
  }
}


.my-nav-btn {
  color: $my-sage;
  &:hover {
    color: $my-forest;
    background-color: $my-mustard;
  }
}
.my-nav-btn-active {
  color: $my-forest;
  background-color: $my-mustard;
  transition: 0.3s;
}


.my-bg-mustard-hover, .my-bg-forest-hover, .my-bg-hover, .my-text-forest-hover {
  transition: 0.4s;
}
.my-bg-mustard-hover:hover {
  background-color: $my-mustard;
}
.my-bg-hover:hover {
  background-color: $my-mustard;
}
.mybg-forestHover:hover {
  background-color: rgba(140, 247, 40, 0.322);
}


.my-bg-forest {
  background-color: $my-forest;
}
.my-bg-sage {
  background-color: $my-sage;
}
.my-bg-mustard {
  background-color: $my-mustard;
}


.border-sage {
  border-color: $my-sage;
}
.border-mustard {
  border-color: $my-mustard;
}
.border-forest {
  border-color: $my-forest;
}


h1.my-title, h2.my-title, h3.my-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
}
h1.my-title {
  font-size: 1.2rem;
}


.my-logo {
  position: absolute;
  z-index: 1000;
  top:0.1rem;
  left:0.1rem;
  height: 4rem;
  width: 4rem;
  background-color: $color-1;
  border-radius: 0.2rem;
}