@import '../utils/_variables.scss';

.banner {
  color: var(--color-2);
  margin: 0 auto;
  text-align: center;
  display: block;
  letter-spacing: 0.2rem;
  font-family: inherit;
  opacity: 100%;

  span {
    color: var(--color-2);
    margin-right: 0.2rem;
    font-family: inherit;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-2);

    span {
      color: var(--color-2);
    }
  }
}

.titleWrapper {
  display: inline-block;
  position: absolute;
  z-index: 10;
  font-family: var(--style-font-1);
  font-weight: 1000;
  background-color: var(--color-6);
  opacity: 100%;
  bottom: 15rem;
  left: 1rem;
  margin-top: 31vh;
  padding: 1rem;
  width: 75vw;

  @media screen and (max-width: $sm-max) {
    width: 100vw;
    left: 0;
    bottom: auto;
    margin-top: auto;
    height: 100vh;
    padding-top: 20vh;
  }

  p {
    padding: 0 0.5rem;
    font-family: inherit;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 100;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: inherit;

  }
}

.lander {

  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  height: var(--main-height);
  width: 100vw;
  display: flex;
  align-items: center;

  p {
    &:nth-child(2) {
      margin-top: 1rem;
    }
  }

  .landerOverlay {
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    height: var(--main-height);
    background-image: var(--primary-gradient);

    opacity: var(--semi-transparent);
    font-family: var(--style-font-1);




    h1 {
      padding: 0 1rem;
    }

  }

  @media only screen and (max-width:$sm-max) {
    font-size: 2rem;
  }
}