@import '../utils/_variables.scss';

.titleWrapper {
	border-radius: var(--radius);
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;

	flex-wrap: wrap;
	height: 55vh;
	grid-template-columns: repeat(5, 1fr);
	position: absolute;
	z-index: 10;
	opacity: 100%;
	top: 25vh;
	left: 1rem;
	padding: 1rem;
	width: var(--lander-width);

	min-height: 390px;
	cursor: default;

	@media screen and (max-width: $sm-max) {
		grid-template-columns: repeat(2, 1fr);
	}

	.flexTitle {
		font-family: inherit;
		color: var(--color-2);

		width: 100%;
		display: flex;
		flex-direction: column;
		grid-column: span 5;

		h1 {
			line-height: 2.5rem;
			font-weight: 1000;
			grid-column: span 5;
			margin: 0 auto;
			text-align: center;
			display: block;
			letter-spacing: 0.2rem;
			font-family: var(--style-font-1);
			opacity: 100%;
			span {
				color: var(--color-2);
				margin-right: 0.2rem;
				font-family: inherit;
			}
			@media screen and (max-width: $sm-max) {
				font-size: 1.2rem;
			}
			@media (prefers-color-scheme: dark) {
				color: var(--color-2);

				span {
					color: var(--color-2);
				}
			}
		}
		p {
			font-family: var(--style-font-2);
			font-weight: 100;
			letter-spacing: 0;
			font-size: 0.9rem;
			text-align: center;
			cursor: default;
			height: 1rem;
		}
		@media screen and (max-width: $sm-max), (max-height: 600px) {
			p {
				font-size: 0.7rem;
				text-align: center;
				cursor: default;
				height: 1rem;
			}
		}
	}

	.wordWrapper {
		display: grid;
		font-family: inherit;
		width: 70%;
		grid-template-columns: repeat(
			4,
			minmax(5%, 1fr)
		); /* Create 5 columns with a minimum width of 5% */
		grid-gap: 0.2rem; /* Adjust the gap between grid items */
		grid-template-rows: 1;
		overflow-x: none;
		position: relative;
		min-height: 70%;
		margin: 0 auto;
		margin-top: 0.8rem;
		@media screen and (max-width: $md-max) {
			width: 100%;
			grid-template-columns: repeat(3, minmax(5%, 1fr));
		}
		@media screen and (max-width: $sm-max) {
			grid-template-columns: repeat(2, minmax(5%, 1fr));
		}
		div {
			font-family: var(--style-font-1);
			grid-column: span 1; /* Each item spans one column */

			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			align-items: center;
			min-height: 40vh;
			@media screen and (max-height: 600px) {
				min-height: 30vh;
				font-size: 1rem;
				line-height: 1rem;
			}
			@media screen and (max-width: $sm-max) {
				&:nth-child(n + 3) {
					display: none;
				}
			}
			@media screen and (max-width: $md-max) {
				&:nth-child(n + 4) {
					display: none;
				}
			}

			@media screen and (max-width: 1050px) {
				&:nth-child(n + 5) {
					display: none;
				}
			}
			@media screen and (max-width: 1200px) {
				&:nth-child(n + 7) {
					display: none;
				}
			}

			p {
				padding: 0 0.5rem;
				font-family: var(--style-font-2);
				font-size: 1.75rem;
				letter-spacing: 0;
				font-weight: var(--font-weight-norm);
				color: inherit;
				margin: 0;
				line-height: 1.75rem;
				height: 1.9rem;
				cursor: pointer;
				@media screen and (max-width: $xs-max) {
					font-size: 1.3rem;
					line-height: 1.5rem;
					height: 1.5rem;
				}
				@media screen and (max-height: 600px) {
					font-size: 1.4rem;
					line-height: 1.5rem;
					height: 1.9rem;
				}
				span {
					opacity: 0;
					font-family: inherit;
					color: inherit;
					transition: 0.7s;

					@media screen and (max-width: $md-max), (max-height: 600px) {
						opacity: 0.4;
					}
				}

				&:hover {
					span {
						opacity: 0.4;
					}
				}
			}
		}
	}
}

.lander {
	font-size: 3rem;
	letter-spacing: 0.1rem;
	font-weight: 100;
	height: var(--main-height);
	width: 100vw;
	display: flex;
	align-items: center;

	.landerOverlay {
		text-align: center;
		margin: 0 auto;
		width: 100vw;
		height: var(--main-height);
		background-image: var(--primary-gradient);

		opacity: var(--semi-transparent);
		font-family: var(--style-font-1);

		h1 {
			padding: 0 1rem;
		}
	}

	@media only screen and (max-width: $sm-max), (max-height: 600px) {
		font-size: 2rem;
	}
}
.about,
.contact {
	height: var(--main-height);
	overflow: hidden;
	position: relative;

	h2 {
		font-size: 1.4rem;
	}
	p {
		margin: 1rem auto;
		font-size: 1.2rem;
		line-height: 1.75rem;
		font-family: var(--style-font-2);
	}

	@media screen and (max-width: $md-max), (max-height: 600px) {
		height: var(--main-height);
		font-size: 0.8rem;
	}
	@media screen and (max-width: $sm-max), (max-height: 600px) {
		h2 {
			font-size: 0.9rem;
		}

		p {
			margin: 0.2rem auto;
			font-size: 0.8rem;
			line-height: 1rem;
		}
	}
}
.about {
	color: var(--color-2);
	background-color: var(--color-6);
}
.contact {
	color: var(--color-2);
	background-color: var(--color-1);
	div {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	ul {
		margin-top: 1rem;
		position: relative;
		display: flex;
	}
	.icon,
	.iconTitle {
		position: var(--icon-position);
	}
	.iconTitle {
		top: var(--translate-y-2);
		right: var(--translate-x-2);
		transform: rotate(var(--big-rotate));
	}

	p {
		width: 95%;
	}

	.icon {
		text-align: center;
		color: var(--color-1);
		margin: 0.2rem;
		width: 20vw;
		&:nth-child(1) {
			top: var(--translate-y-1);
			right: var(--translate-x-1);
			transform: rotate(var(--alt-big-rotate));
		}
		&:nth-child(2) {
			top: var(--translate-y-3);
			right: var(--zero);
		}
		&:nth-child(3) {
			top: var(--translate-y-4);
			right: var(--zero);
		}
		a {
			background-color: var(--color-3);
			padding: 1.3rem 1.3rem;
			width: 100%;
		}
	}
}
