@import '../utils/_variables.scss';

.navHeader {
  display: block;
}

.myNavFull {
  position:fixed;
  overflow: hidden;
  width: 50%;
  height: 10%;
  z-index: 10;
  top: 0;
  @media only screen and (min-width:$md-max) {
  left: 50%;
  transform: translateX(-50%);
  }
  background-color: $color-2;
  color: $color-1;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  opacity: 0.8;
  @media only screen and (max-width:$md-max) {
    width: 100%;
    left: 0;
  }

  
  
  .standardMenu { 
    position: absolute;
    display: flex;
    
    .standardMenuLink {
      color: inherit;
      text-decoration: none;
      transition: 0.4s;
      font-weight: 200;
      font-size: 1rem;
      line-height: 1.3rem;
      letter-spacing: 0.2rem;
      margin: 0 0.8rem;
      cursor: pointer;
      @media only screen and (max-width:$md-max) {
        font-weight: 400;
        font-size: 0.9rem;
        margin: 0 0.8rem;
      }
      &:hover, &.active {
        color: $color-3;
        font-size: 1.3rem;
        @media only screen and (max-width:$md-max) {
          font-size: 1.1rem;
        }
      }
    }
    
  }
}
