@import '../utils/_variables.scss';

.skills {
    background-color: var(--color-1);
    color: var(--color-2);
    padding: auto 12rem;
    text-align: center;
    height: var(--main-height);

    h3 {
        display: inline;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid var(--color-3);
    }

}


.listItem {
    color: var(--color-2);
    transition: 0.4s;

    caption {
        display: block;
        font-size: 0;
        transition: 0.4s;
        opacity: 0;

        @media screen and (max-width: $md-max) {
            opacity: 1;
            font-size: 1rem;
        }
    }

    &:hover {
        caption {
            font-size: 1rem;
            opacity: 1;
        }
    }
}