@import '../utils/_variables.scss';

.skills {
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 15vh 12rem 2rem 12rem;
    text-align: center;
    height: var(--main-height);

    h3 {
        display: inline;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid var(--color-3);
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: $md-max) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.listItem {
    color: var(--color-2);
    transition: 0.4s;
    grid-column: span 1;
    grid-row: span 1;
    align-items: center;

    caption {
        display: block;
        font-size: 0;
        transition: 0.6s;
        opacity: 0;
        cursor: default;

        @media screen and (max-width: $md-max) {
            opacity: 1;
            font-size: 1rem;
        }
    }

    &:hover {
        caption {
            font-size: 1rem;
            opacity: 1;
        }
    }
}
