@import '../utils/_variables.scss';

.tableOfContents {
    width: 40%;
    background-color: $color-3;
    margin: 1rem auto;
    padding: 0.5rem;
    margin-left: 15%;
    @media only screen and (max-width:$md-max) {
        width: 75%;
        margin-left: auto;
    }
    li {
        list-style: decimal;
        list-style-position: inside;
        width: 100%;
        text-align: left;
        color: $color-1;
        margin: 0.5rem auto;
    }
}