@import '../utils/_variables.scss';


.work {
  margin: 0 auto;
}

.card {
    grid-column: span 1 / span 1;
    @media only screen and (max-width: $md-max)  {
        //height: 75vh;
        //width: 90vw;
        scroll-snap-align: center;
        grid-column: span 2 / span 2;
      }
}